
  @import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Oswald:wght@400;700&family=Roboto:wght@400;700&display=swap');

@colorText: #a276ff;
@fontOswald: "Oswald", sans-serif;
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 10px;
}

body{
    font-size: 1.6rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #fff;
    background-image: url(./img/bg.jpg);
    background-repeat: no-repeat;    
    background-size: cover;
    background-position: center center;
}
.body-bg{
    display: flex;
    background-color: #1b1d3a91;
    //width: 100vw;
    //height: 100vh;
}



.main-header {
    background-color: #0b0b0da7;
    display: inline-flex;
    padding-left: 93px;
    padding-right: 154px;
    flex-direction: column;
    //justify-content: center;
    align-items: center;
}
.logo {
    margin: 80px 0 0 0;
    font-size: 3rem;
    text-transform: uppercase;
    font-family: @fontOswald;
    font-weight: 700;

        &__text{
            color: @colorText;
        }
}
.logo__text {
}
.block-nav {
    margin-top: 47px;
    //margin-left: 139px;
}
.nav-list {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
}
.nav-item {
    font-family: @fontOswald;
        &__link{
            text-decoration: none;
            text-transform: uppercase;
            font-size: 17px;
            line-height: 94px;
            color: #fff;
            transition: all .3 ease-in-out; 

            &:hover{
                color: @colorText;
            }
        }
}
.nav-item__link {
}
.block-support {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-transform: uppercase;
    font-family: @fontOswald;
    font-size: 17px;
    flex-grow: 1;
}
.support {
    margin-bottom: 47px;
    
    &__link{
        
        text-decoration: none;
        color: #fff;
    }

}
.contact {

    &__link{
        text-decoration: none;
        color: #fff;

    } 
}

//@media(max-width:830px)

.tokmak-main {
}
.social {
}
.main-block {
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin-top: 200px;
    margin-left: 207px;
}
.main-title {
    font-family: @fontOswald;
    font-weight: 700;
    font-size: 42px;
    color: #fff;
    text-transform: uppercase;
    margin: 0;
    width: 50%;
    span{
        font-size: 65px;
        color: @colorText;
        letter-spacing: 12px;
    }
}
.main-description {
    margin-top: 42px;
    font-size: 18px;
    margin-bottom: 30px;
    
}
.btn {
    background-color: transparent;
    border-radius: 17px;
    border: 2px solid #fff;
    padding: 20px 60px;
}
.main-btn {
    text-decoration: none;
    font-size: 20px;
    color: #fff;
    width: 50%;
    text-align: center;
}